@import "tailwindcss";
.List::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit (Chrome, Safari) */
  }
  
  .List {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }